<table class="table">
    <thead>
        <tr>
            <th scope="col" colspan="6" class="text-center">Adresses</th>
        </tr>
        <tr class="text-sm">
            <th scope="Col">Pays</th>
            <th>Ville</th>
            <th>Code Postale</th>
            <th>Adresse</th>
            <th>Complément d'addresse</th>
        </tr>
    </thead>
    <tbody>
        {{#data.adresses}}
            <tr class="text-sm">
                <th scope="row">{{ pays }}</th>
                <td>{{ ville }}</td>
                <td>{{ codePostal }}</td>
                <td>{{ adresse }}</td>
                <td>{{ complementAdresse }}</td>
                <td class="text-right">
                    <button class="btn btn-primary" onclick="adresses.editerAdresseModal({{ id }})" data-toggle="tooltip" data-placement="top" title="éditer l'adresse"><span class="oi oi-pencil"></span></button>
                    <button class="btn btn-danger" onclick="adresses.supprimerAdresse({{ id }})" data-toggle="tooltip" data-placement="top" title="supprimer l'adresse"><span class="oi oi-trash"></span></button>
                </td>
            </tr>
        {{/data.adresses}}
    </tbody>
</table>
<button class="btn btn-primary d-block mx-auto" onclick="adresses.nouvelleAdresseModal();" data-toggle="tooltip" data-placement="bottom" title="Ajouter une adresse"><span class="oi oi-plus"></span></button>

<script>
    $('[data-toggle="tooltip"]').tooltip()
</script>