{{#data.editionReussi}}
    <div class="modal fade" role="dialog" id="modalContact" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center">Contact edité avec succès</p>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal" onclick="contacts.nouveauContactCreer();">Retour aux contactss</button>
            </div>
        </div>
    </div>
{{/data.editionReussi}}

{{#data.erreur}}
    <div class="modal fade" role="dialog" id="modalContact" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center">Erreur: {{ message }}</p>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal" onclick="contacts.nouveauContactCreer();">Retour aux contactss</button>
            </div>
        </div>
    </div>
{{/data.erreur}}

{{#data.creationReussi}}
    <div class="modal fade" role="dialog" id="modalContact" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center">Contact ajouté avec succes</p>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal" onclick="contacts.nouveauContactCreer();">Retour aux contactss</button>
            </div>
        </div>
    </div>
{{/data.creationReussi}}

{{^data.creationReussi}}
    <div class="modal fade" role="dialog" id="modalContact" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{#data.contact}}Editer Un Contact{{/data.contact}}{{^data.contact}}Nouveau Contact{{/data.contact}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/contacts/{{#data.contact}}editer/{{ id }}{{/data.contact}}{{^data.contact}}creer{{/data.contact}}" method="post" id="formContact">
                        <div class="form-row">
                            {{#data.contact}}<input type="text" class="form-control" name="id" id="contactId" hidden value="{{ id }}">{{/data.contact}}
                            <div class="form-group col-md-6">
                                <label for="nom">Nom</label>
                                <input type="text" class="form-control" name="nom" placeholder="Nom" {{#data.contact}}value="{{nom}}"{{/data.contact}}>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="prenom">Prenom</label>
                                <input type="text" class="form-control" name="prenom" placeholder="Prenom" {{#data.contact}}value="{{prenom}}"{{/data.contact}}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" name="email" placeholder="Email" id="contact-email" aria-describedby="email-validateur" {{#data.contact}}value="{{email}}"{{/data.contact}} required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-dark" type="button" id="email-validateur" onclick="contacts.validerEmail();" data-toggle="tooltip" data-placement="top" title="Valide l'email à l'aide d'un super webservice">Vérifier l'email</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div id="contactAdresses"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" onclick="{{#data.contact}}contacts.editerContact(){{/data.contact}}{{^data.contact}}contacts.nouveauContact(){{/data.contact}};">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('[data-toggle="tooltip"]').tooltip()
    </script>
{{/data.creationReussi}}