body {
    background: #f5f5f6;
}

.contenu {
    height: 100%;
    width: 100%;
}

#alertes {
    z-index: 1500;
    position: absolute;
    left: 50%;
    top: 5%;
    width: 100%;
    transform: translateX(-50%);
}

.text-sm {
    font-size: .8em !important;
}