<div class="w-100 h-100 d-flex flex-row justify-content-center align-items-center">
    <div class="card shadow w-50 p-5">
        <div class="card-body p-0 m-2">
            <div class="row">
                <div class="col-sm-6 d-flex flex-row justify-content-center align-items-center">
                    <img src="/assets/img/Leboncoin_fr-Logo.png" class="img-fluid d-block" alt="Responsive image">
                </div>
                <div class="col-sm-6 text-center">
                    {{#data.erreur}}
                        <div class="erreur">
                            <p class="message">{{ message }}</p>
                        </div>
                    {{/data.erreur}}
                    <p class="font-weight-bold px-5 pb-3 mx-auto border-bottom border-dark d-inline-block">Connexion</p>
                    <form method="POST" action="/utilisateurs/connexion" class="p-2">
                        <div class="form-group">
                            <label for="connexion_email" class="text-left">Login</label>
                            <input type="email" name="connexion_email" class="form-control form-control-sm" id="connexion_email" placeholder="Adresse email">
                        </div>
                        <div class="form-group">
                            <label for="connexion_password" class="text-left">Password</label>
                            <input type="password" name="connexion_password" class="form-control form-control-sm" id="connexion_password" placeholder="Mot de passe">
                        </div>
                        <input type="submit" class="btn btn-primary w-100 d-block" value="Se Connecter">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>