{{#data}}
    {{#erreur}}
        <div class="erreur">
            <p class="message">{{ message }}</p>
        </div>
    {{/erreur}}
    
        <div class="contact">
            <span class="nom">{{ nom }}</span>
            <span class="prenom">{{ prenom }}</span>
            <span class="email">{{ email }}</span>
        </div>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col" colspan="4" class="text-center">Mes contacts</th>
            </tr>
        </thead>
        <tbody>
            {{#contacts}}
                <tr>
                    <th scope="row">{{ nom }}</th>
                    <td>{{ prenom }}</td>
                    <td>{{ email }}</td>
                    <td class="text-right">
                        <button class="btn btn-primary" onclick="contacts.editerContactModal({{ id }});">Éditer</button>
                        <button class="btn btn-danger" onclick="contacts.supprimerContact({{ id }});">Supprimer</button>
                    </td>
                </tr>
            {{/contacts}}
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="contacts.nouveauContactModal();">+</button>
{{/data}}