{{#data}}
    {{#erreur}}
        <div class="erreur">
            <p class="message">{{ message }}</p>
        </div>
    {{/erreur}}
    
    <table class="table table-striped table-hover">
        <thead>
            <tr class="text-center">
                <th colspan="2" class="text-center">Mes contacts<button class="btn btn-primary btn-sm position-absolute right-1" onclick="contacts.nouveauContactModal();" data-toggle="tooltip" data-placement="left" title="Ajouter un contact"><span class="oi oi-plus"></span></button></th>
            </tr>
        </thead>
        <tbody>
            {{#contacts}}
                <tr class="hover-cursor" onclick="contacts.detailsContactModal({{ id }});">
                    <td scope="row" class="align-middle pl-3">{{ prenom }} <strong>{{ nom }}</strong></td>
                    <td scope="row" class="align-middle text-truncate">{{ email }}</td>
                </tr>
            {{/contacts}}
        </tbody>
    </table>
    
    <script>
        $('[data-toggle="tooltip"]').tooltip()
    </script>
{{/data}}